h3 {
    border-bottom: 1px dotted #000;
    width: 720px;
}

h5.address-header {
    padding-top: 20px;
}

div.button-row {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.button-row button {
    padding: 6px;
}

div.button-row button.active {
    font-weight: bold;
    color: darkblue;
}

input {
    margin-right: 10px;
    padding: 10px;
}

label {
    margin-right: 10px;
}

select {
    padding: 10px;
    min-width: 200px;
}