<!doctype html>
<html ng-app="demo">
<head>
	<title>Customer website</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="customer.js"></script>
	<link rel="stylesheet" href="customer.css">
</head>

<body>
<div ng-controller="CustomerList">
	<div>
		<h3>Please select a customer</h3>
		<label>Customers</label>
		<select id="selectCustomer" ng-model="selectedCustomer" ng-options="customer.name for customer in customerList"></select>
	</div>
	<div class="button-row">
		<button id="buttonView" ng-class="{'active': activeButton=='view'}" style="" ng-click="disabled = true;activeButton='view'">VIEW</button>
		<button id="buttonEdit" ng-class="{'active': activeButton=='edit'}" style="" ng-click="disabled = false;activeButton='edit'">EDIT</button>
		<button id="buttonNew" ng-class="{'active': activeButton=='new'}" style="" ng-click="disabled = false; selectedCustomer = null;activeButton='new'">NEW</button>
		<button id="buttonSave" ng-class="{'active': activeButton=='save'}" style="" ng-show="!disabled" ng-click="disabled = true;activeButton='view'">SAVE</button>
	</div>
	<div>
		<h4>Customer</h4>
		<div>
			<input hidden ng-value="selectedCustomer.id" />
			<span style="float:left;">
				<label>Initials</label><br>
				<input id="initials" ng-disabled="disabled" ng-value="selectedCustomer.initials" />
			</span>
			<span style="float:left;">
				<label>Name</label><br>
				<input id="name" ng-disabled="disabled" ng-value="selectedCustomer.name" />
			</span>
		</div>
		<h5 class="address-header" style="clear:both;">Address</h5>
		<div>
			<span style="float:left;">
				<label>Street</label><br>
				<input id="addressStreet" ng-disabled="disabled" ng-value="selectedCustomer.address.street" />
			</span>
			<span style="float:left;">
				<label>Number</label><br>
				<input id="addressNumber" ng-disabled="disabled" ng-value="selectedCustomer.address.number" />
			</span>
			<span style="float:left;">
				<label>Zipcode</label><br>
				<input id="addressZipcode" ng-disabled="disabled" ng-value="selectedCustomer.address.zipcode" />
			</span>
			<span style="float:left;">
				<label>City</label><br>
				<input id="addressCity" ng-disabled="disabled" ng-value="selectedCustomer.address.city" />
			</span>
		</div>
	</div>
</div>
</body>
</html>
